<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Your Recipe Website</title>
</head>
<body>
    <header>
        <nav>
            <!-- Your navigation menu here -->
        </nav>
    </header>

    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to Izi Recipe Website, a platform dedicated to sharing and discovering delicious recipes.</p>

        <h2>Our Mission</h2>
        <p>Our mission is to connect food enthusiasts, home cooks, and professional chefs, allowing them to share their culinary creations and passion for cooking with the world.</p>

        <h2>Our Team</h2>
        <p>Meet the people behind Your Recipe Website:</p>
        <ul>
            <li>Founder: Izon Woyengitari</li>
	    <li>Co-Founder: Uwem Dickson</li>
            <li>Head Chef: Onifade OlaRinre</li>
            <!-- Add more team members if applicable -->
        </ul>
    </div>

    <footer>
        <div class="copyright">
            &copy; 2023 Izi Recipe Website. All rights reserved.
        </div>
    </div>
    </footer>
</body>
</html>
