<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izi Recipe Website</title>
    <link rel="stylesheet" href="/static/css/landing_styles.css">
</head>
<body>
	<img src="/static/images/hero-bg.jpg" alt="Hero Image">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="//127.0.0.1:5000">Recipes</a></li>
                <li><a href="/about"//127.0.0.1:5000>About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Your Recipe Website</h1>
            <p>Discover delicious recipes and share your culinary creations with the world.</p>
            <a href="//127.0.0.1:5000">
    <button class="cta-button">Get Started</button>
</a>
        </div>
    </section>
    <section class="features">
        <div class="feature">
            <h2>Explore Recipes</h2>
            <p>Find a wide variety of mouthwatering recipes for every occasion.</p>
        </div>
        <div class="feature">
            <h2>Create Your Recipes</h2>
            <p>Share your favorite recipes with our community and get creative in the kitchen.</p>
        </div>
        <div class="feature">
            <h2>Join the Foodie Community</h2>
            <p>Connect with fellow food enthusiasts, exchange ideas, and learn from the best.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 2023 Izi Recipe Website</p>
    </footer>
</body>
</html>
